127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
20.163.244.180 win-dc-1.redhat.local
20.169.169.174 win-cli-1.redhat.local
